name: CI

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  flutter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter pub get
        run: flutter pub get

      - name: Dart format (check)
        run: dart format --set-exit-if-changed .

      - name: Dart analyze
        run: flutter analyze

      - name: Flutter tests
        run: flutter test


